<%= form_for @director, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dob, :class => 'control-label' %>
    <div class="controls">
      <%= f.date_select :dob, :class => 'date_select', :start_year => 1800, :end_year => Time.now.year %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :gender, :class => 'control-label' %>
    <div class="controls gender">
      <%= f.radio_button :gender, 'Female', :checked => true %> 
      <%= label :gender_Female, 'Female' %>
      <%= f.radio_button :gender, 'Male' %>
      <%= label :gender_Male, 'Male' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dvds, :class => 'control-label' %>
    <div class="controls">
      <%= select_tag "director[dvd_ids]", options_for_select(Dvd.all.map { |dvd| [dvd.name, dvd.id] }, @director.dvds.map { |dvd| dvd.id}), {:multiple=>true, :include_blank => "", :size=>10} %>
    </div>
  </div>     

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                directors_path, :class => 'btn' %>
  </div>
<% end %>
